In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('run_or_walk.csv');
df

,date,time,username,wrist,activity,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z
0,2017-6-30,13:51:15:847724020,viktor,0,0,0.2650,-0.7814,-0.0076,-0.0590,0.0325,-2.9296
1,2017-6-30,13:51:16:246945023,viktor,0,0,0.6722,-1.1233,-0.2344,-0.1757,0.0208,0.1269
2,2017-6-30,13:51:16:446233987,viktor,0,0,0.4399,-1.4817,0.0722,-0.9105,0.1063,-2.4367
3,2017-6-30,13:51:16:646117985,viktor,0,0,0.3031,-0.8125,0.0888,0.1199,-0.4099,-2.9336
4,2017-6-30,13:51:16:846738994,viktor,0,0,0.4814,-0.9312,0.0359,0.0527,0.4379,2.4922
...,...,...,...,...,...,...,...,...,...,...,...
88583,2017-7-9,20:9:15:317911028,viktor,0,0,0.3084,-0.8376,-0.1327,0.4823,2.0124,0.6048
88584,2017-7-9,20:9:15:517889022,viktor,0,0,0.4977,-1.0027,-0.4397,0.1022,-1.2565,-0.0761
88585,2017-7-9,20:9:15:717828989,viktor,0,0,0.4587,-1.1780,-0.2827,-1.4500,-0.2792,-1.2616
88586,2017-7-9,20:9:15:917932987,viktor,0,0,0.2590,-0.8582,-0.0759,-1.5165,0.4560,-1.7755
88587,2017-7-9,20:9:16:117410004,viktor,0,0,0.3140,-0.8008,-0.0911,0.1183,1.0850,1.2814

In [4]:
df.drop(df.columns[[0,1,2]], inplace = True, axis = 1)

In [5]:
df

,wrist,activity,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z
0,0,0,0.2650,-0.7814,-0.0076,-0.0590,0.0325,-2.9296
1,0,0,0.6722,-1.1233,-0.2344,-0.1757,0.0208,0.1269
2,0,0,0.4399,-1.4817,0.0722,-0.9105,0.1063,-2.4367
3,0,0,0.3031,-0.8125,0.0888,0.1199,-0.4099,-2.9336
4,0,0,0.4814,-0.9312,0.0359,0.0527,0.4379,2.4922
...,...,...,...,...,...,...,...,...
88583,0,0,0.3084,-0.8376,-0.1327,0.4823,2.0124,0.6048
88584,0,0,0.4977,-1.0027,-0.4397,0.1022,-1.2565,-0.0761
88585,0,0,0.4587,-1.1780,-0.2827,-1.4500,-0.2792,-1.2616
88586,0,0,0.2590,-0.8582,-0.0759,-1.5165,0.4560,-1.7755
88587,0,0,0.3140,-0.8008,-0.0911,0.1183,1.0850,1.2814

In [6]:
from sklearn.naive_bayes import MultinomialNB
import seaborn as sns # this is used for the plot the graph
from sklearn.model_selection import train_test_split # to split the data into two parts
from sklearn import metrics # for the check the error and accuracy of the model
from sklearn import tree
from sklearn.metrics import accuracy_score
from sklearn import svm    		# To import the svm classifier

import random

In [7]:
data = df
from sklearn.preprocessing import LabelEncoder
encoded_data = data.apply(LabelEncoder().fit_transform)
X = x =df.drop("activity",axis=1)
y = df['activity']
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.2,random_state=85)

In [8]:
from sklearn.naive_bayes import GaussianNB
algorithm = GaussianNB(priors=None, var_smoothing=1e-9)

In [9]:
algorithm.fit(X_train, y_train)

GaussianNB()

In [10]:
print(algorithm.classes_)

[0 1]

In [11]:
print('The Gaussian Model Has Achieved %.2f Percent Accuracy'%(algorithm.score(X, y)))

The Gaussian Model Has Achieved 0.96 Percent Accuracy

In [12]:
y_predict = algorithm.predict(X_test)
y_predict

array([0, 1, 0, ..., 1, 0, 1], dtype=int64)

In [13]:
accuracy = accuracy_score(y_test,y_predict)*100
accuracy

95.6724189019486

In [17]:
X =data.iloc[:, 2:5]
X

       acceleration_x  acceleration_y  acceleration_z
0              0.2650         -0.7814         -0.0076
1              0.6722         -1.1233         -0.2344
2              0.4399         -1.4817          0.0722
3              0.3031         -0.8125          0.0888
4              0.4814         -0.9312          0.0359
...               ...             ...             ...
88583          0.3084         -0.8376         -0.1327
88584          0.4977         -1.0027         -0.4397
88585          0.4587         -1.1780         -0.2827
88586          0.2590         -0.8582         -0.0759
88587          0.3140         -0.8008         -0.0911

[88588 rows x 3 columns]

In [18]:
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.2,random_state=85)
from sklearn.naive_bayes import GaussianNB
algorithm = GaussianNB(priors=None, var_smoothing=1e-9)
algorithm.fit(X_train, y_train)
print(algorithm.classes_)
print('The Gaussian Model Has Achieved %.2f Percent Accuracy'%(algorithm.score(X, y)))
y_predict = algorithm.predict(X_test)
y_predict
accuracy = accuracy_score(y_test,y_predict)*100
accuracy

[0 1]
The Gaussian Model Has Achieved 0.96 Percent Accuracy

95.78671106658577

In [19]:
X =data.iloc[:, 5:8]
X

       gyro_x  gyro_y  gyro_z
0     -0.0590  0.0325 -2.9296
1     -0.1757  0.0208  0.1269
2     -0.9105  0.1063 -2.4367
3      0.1199 -0.4099 -2.9336
4      0.0527  0.4379  2.4922
...       ...     ...     ...
88583  0.4823  2.0124  0.6048
88584  0.1022 -1.2565 -0.0761
88585 -1.4500 -0.2792 -1.2616
88586 -1.5165  0.4560 -1.7755
88587  0.1183  1.0850  1.2814

[88588 rows x 3 columns]

In [20]:
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.2,random_state=85)
from sklearn.naive_bayes import GaussianNB
algorithm = GaussianNB(priors=None, var_smoothing=1e-9)
algorithm.fit(X_train, y_train)
print(algorithm.classes_)
print('The Gaussian Model Has Achieved %.2f Percent Accuracy'%(algorithm.score(X, y)))
y_predict = algorithm.predict(X_test)
y_predict
accuracy = accuracy_score(y_test,y_predict)*100
accuracy

[0 1]
The Gaussian Model Has Achieved 0.65 Percent Accuracy

64.74439474538246

In [21]:
print('accelations columns get better accuracy than gyno ones')

accelations columns get better accuracy than gyno ones